
#result {
  display: none;
  color: white;
  background-image: linear-gradient(black, rgb(211, 208, 208));
  border: grey 8px;
  border-radius: 15px;
  border-style: double;
  margin: 10%;
  padding: 5%;
  text-align: left;
  word-wrap: break-word;
}

.container {
  margin-top: 10%;
  font-family: monospace;
}
h1{
  text-align: center;
}
#robo-pic {
  margin-top: 5%;
  margin-left: 38%;
  margin-right: 38%;
}

#gato-number {
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

#gato-submit {
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 35%;
}